.caimito-main-color {
	color: #990066;
}

.caimito-green-color {
	color: #007A00;
}

H4 {
	font-size: 15px;
}

DIV.blog BLOCKQUOTE P {
	font-size: 14px;
}

.footer {
	border-top: thin solid black;
	background-color: #eeeeee;
	color: black;
}

.hero-unit H1 {
	margin-top: -25px;
	margin-bottom: 20px;
}

.caimito-hero {
	height: 170px;
	color: white;
}

.caimito-hero-text {
	position: relative;
	top: 140px;
	left: -15px;
	width: 830px;
	height: 70px;
	background-color:#ffffff;
	opacity:0.7;
	color: black;
	font-weight: bold;
	padding: 5px;
}

DIV.caimito-hero-text H1 {
	margin: 0;
}

.nav LI A {
	font-size: 18pt;
}

.nav LI {
	padding-top: 3px;
}

.subheader {
	margin-bottom: 12pt;
}

.introduction {
	margin-top: 0.5em;
	font-size: 12pt;
}

P {
	font-size: 11pt;
	line-height: 1.5em;
}

.content-container {
	margin-top: 2em
}

DIV.callout {
	background-color: #eeeeee;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

blockquote.client {
  	font: 14px/20px italic Times, serif;
  	padding: 8px;
  	margin: 1.5em 5px 1.5em 5px ;
  	background-image: url(../img/openquote.gif);
  	background-position: top left;
  	background-repeat: no-repeat;
  	text-indent: 23px;
}

blockquote.client span {
    display: block;
   	background-image: url(../img/closequote.gif);
   	background-repeat: no-repeat;
   	background-position: bottom right;
}

blockquote.client P {
	margin-top: 2px;
  	font: 14px/20px Helvetica, sans-serif;
}

FIGURE.article {
	margin: 0px;
	margin-top: 20px;
	margin-bottom: -10px;
	width: 100%;
}

FIGURE.article FIGCAPTION {
	position: relative;
	top: -35px;
	opacity: 0.6;
	background-color: white;
	height: 25px;
	padding: 5px;
}

FIGURE.article FIGCAPTION P {
	font-size: 14pt;
	font-weight: bold;
}

FIGURE.figure-small {
	margin: 0px;
	margin-top: 20px;
	margin-bottom: -10px;
	width: 100%;
}

FIGURE.figure-small FIGCAPTION {
	position: relative;
	top: -30px;
	opacity: 0.6;
	background-color: white;
	height: 20px;
	padding: 5px;
}

FIGURE.figure-small FIGCAPTION P {
	font-size: 12pt;
	font-weight: bold;
}

FIGURE.report {
	text-align: center;
}

FIGURE.report FIGCAPTION {
	font-weight: bold;
}

.twitter-row {
	margin-bottom: 1em ;
}

#myCarousel {
	margin-bottom: 0 ;
}

DL.full-schedule DD {
	margin-bottom: 1.5em;
}

DL.article DD {
	margin-bottom: 0.5em;
}

FIGCAPTION {
	text-align: center;
}

DIV.blog H1 {
	color: #990066;
}

DIV.blog H2 {
	color: #007A00;
}

.eventbrite {
	font-size: 12pt;
}

DIV.eb_event_list_item {
	width: 100%;
}

.eb_event_list_title {
	padding: 5px;
}

.eb_event_list_date {
	padding: 5px;
}

.eb_event_list_time {
	display: none;
}

.eb_event_list_location {
	padding: 5px;
}

.description {
	font-size: 13px;
}

.quote {
	font-size: 16px;
	font-style: italic;
	color: #007A00;
	font-weight: bold;
}

.blogSidebar {
	background-color: #eeeeee; 
	padding: 5px;
}

.blogSidebar P {
	font-size: 13px;
	text-align: justify ;
}

.agileSteps P {
	text-align: justify ;
}

TABLE.seminar_overview {
	border-spacing: 5px;
	border-collapse:separate;
}

TABLE.seminar_overview TR TH {
	color: #990066;
	text-align: left;
}

