body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

H1 {
  color: var(--primary-color);
}

H2 {
  color: var(--secondary-color);
}

DIV.container {
  margin-left: 2%;
  margin-right: 2%;
  flex: 1;
}

DIV.introduction {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.1em;
  width: 70%;
}

DIV.overview {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}

DIV.overview > SECTION {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

SECTION > h2 {
  margin-top: 0;
}

BUTTON {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

DIV.sequence {
  display: grid;
  grid-template-columns: 15em auto;
  gap: 3em;
}

DIV.step {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-weight: bold;
}

DIV.info-container {
  display: flex;
  gap: 2em;
  justify-content: space-evenly;
}

DIV.info-container > DIV, DIV.info-block {
  background-color: #F5E6F0; 
  padding: 1.5em;
  flex: 1;
  border-radius: 8px;
}

DIV.info-container > DIV > H2, DIV.info-block > H2 {
  margin-top: 0;
}

DIV.blog {
  display: flex;
  gap: 2em;
  justify-content: space-between;
}

DIV.blog > DIV.posts {
  flex: 1;
}

DIV.blog > DIV.posts {
  flex: 0 0 30%;
}

DIV.posts > UL, UL.posts {
  list-style-type: none;
  padding: 0;
}

DIV.posts > UL > LI, UL.posts > LI {
  font-size: smaller;
  margin-bottom: 0.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin-top: 0.5em;
  margin-bottom: 1em;
}