@media screen and (max-width: 768px) {

  body {
    font-size: smaller;
  }

  #homeLink > IMG {
    width: 100px;
  }

  NAV ul li {
    padding: 5px 5px;
    font-size: 1em;
    white-space: unset;
  }
  
  DIV.introduction {
    width: 100%;
  }

  /* Mobile typography adjustments for blog posts */
  .blog-entry h1 {
    font-size: 1.4rem !important;
    line-height: 1.2;
    margin-bottom: 0.3em !important;
  }

  .blog-entry h2 {
    font-size: 1.1rem !important;
    line-height: 1.3;
    margin-top: 1em !important;
    margin-bottom: 0.5em !important;
  }

  .blog-entry p,
  .blog-entry li,
  .blog-entry .line-breaks {
    font-size: 0.9rem !important;
    line-height: 1.4 !important;
    margin-bottom: 0.6em !important;
  }

  .blog-entry strong {
    font-weight: 500 !important;
  }

  .article-intro p {
    font-size: 0.9rem !important;
  }

  .blog-entry p:first-letter {
    font-size: 1em !important;
  }
  
  DIV.overview {
    padding: 0;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
  } 
  
  DIV.two-columns {
    display: flex;
    flex-direction: column;
  }

  div.sidebar {
    border-left: none;
    border-top: 2px solid #007acc;
    padding: 1.5em 0 0 0;
    margin-top: 2em;
    font-size: 0.9rem;
  }

  div.sidebar section {
    margin-bottom: 1.5em;
    padding: 1em;
    background: #f9f9f9;
    border-radius: 4px;
  }

  div.sidebar h2 {
    font-size: 1.1rem !important;
    margin-top: 0 !important;
    margin-bottom: 0.5em !important;
  }

  div.sidebar h3 {
    font-size: 1rem !important;
    margin-top: 0.75em !important;
    margin-bottom: 0.4em !important;
  }

  div.sidebar p {
    font-size: 0.9rem !important;
    line-height: 1.4 !important;
    margin-bottom: 0.5em !important;
  }

  div.sidebar ul.posts {
    font-size: 0.85rem !important;
    padding-left: 1.2em;
  }

  div.sidebar ul.posts li {
    margin-bottom: 0.5em !important;
  }

  div.reference-projects > dl {
    font-size: unset;
  }
  
  DIV.sequence {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  DIV.info-container {
    flex-direction: column;
    gap: 1em;
  }
  
  FIGURE IMG {
    width: 100%;
  }

  DIV.blog {
    flex-direction: column;
  }

  .avatar {
    margin-right: 1em;
    margin-bottom: 0.5em;
  }

  BUTTON, A.button {
    font-size: unset;
  }
  
}