NAV {
  background-color: #EEEEEE;
}

NAV UL {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

NAV ul li {
  display: block;
  text-align: center;
  padding: 10px 10px;
  font-size: 1.3em;
  white-space: nowrap;
}

NAV ul li a {
  color: var(--primary-color);
  text-decoration: none;
}

NAV ul li a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

NAV > UL > LI.right {
  float: right;
  width: 100%;
  text-align: right;
}

FOOTER {
  margin-top: 1em;
  padding: 1em;
  background-color: #EEEEEE;
  display: flex;
  justify-content: space-evenly;
}

