<div class="row">
	<div class="span4">
		<p class="caimito-main-color" style="font-weight: bold">Upcoming Events</p>
		<dl>
			<dt><a href="http://www.agiledevpractices.com" target="_blank">Agile Dev Practices, Potsdam/Berlin, Deutschland<br/> 4. - 7. März 2013</a></dt>
			<dd><em>Activity-Centered Design: Smarter software through better understanding of what people want to do through software</em></dd>
		</dl>
	</div>
	<div class="span4">
		<p class="caimito-main-color" style="font-weight: bold">Learn With Us</p>
		<dl>
		</dl>
	</div>
	<div class="span4">
		<p class="caimito-main-color" style="font-weight: bold">Meet Us</p>
		<p style="font-size: 13px">Conferences and other industry gatherings are always a great opportunity to meet. Let's learn something together and get in touch.</p>
		<p style="font-size: 13px"><a href="schedule.html">See the full schedule &raquo;</a></p>
	</div>
</div>
