<div class="row">
	<div class="span4">
		<p class="caimito-main-color" style="font-weight: bold">Wir nehmen teil</p>
		<dl>
			<dt><a href="http://ale2012.eventbrite.com/" target="_blank">ALE 2012, Barcelona, Spanien<br/> 29. - 31. August 2012</a></dt>
			<dd>Session: <em>Deeper Understanding of User Stories Through Activity Theory</em></dd>
		</dl>
	</div>
	<div class="span4">
		<p class="caimito-main-color" style="font-weight: bold">Gemeinsam lernen</p>
		<dl>
			<dt><a href="http://www.xpdays.net" target="_blank">XP Days Benelux, Heeze, Niederlande<br/> 29. - 30. November 2012</a></dt>
			<dd>Vorschlag: <em>Smarter Software with Activity-Centered Design</em></dd>
		</dl>
	</div>
	<div class="span4">
		<p class="caimito-main-color" style="font-weight: bold">Sich treffen</p>
		<p style="font-size: 13px">Konferenzen und andere Veranstaltungen sind immer eine gute Gelegenheit etwas Neues zu lernen und sich zu treffen.</p>
		<p style="font-size: 13px"><a href="schedule.html">Vollständiger Kalender &raquo;</a></p>
	</div>
</div>
