<div class="row">
	<div class="span4">
		<p class="caimito-main-color" style="font-weight: bold">Anstehende Vorträge</p>
		<dl>
			<dt><a href="http://www.scrumday.de" target="_blank">Scrum Day, Berlin, Deutschland<br/> 11. - 12. Juni 2013</a></dt>
			<dd><em>Bin unter den Teilnehmern</em></dd>
		</dl>
	</div>
	<div class="span4">
		<p class="caimito-main-color" style="font-weight: bold">Gemeinsam lernen</p>
		<dl>
		</dl>
	</div>
	<div class="span4">
		<p class="caimito-main-color" style="font-weight: bold">Sich treffen</p>
		<p style="font-size: 13px">Konferenzen und andere Veranstaltungen sind immer eine gute Gelegenheit etwas Neues zu lernen und sich zu treffen.</p>
		<p style="font-size: 13px"><a href="schedule.html">Vollständiger Kalender &raquo;</a></p>
	</div>
</div>
