<p>&nbsp;</p>
<footer class="footer">
	<div class="row">
		<div class="span4">
			<ul style="list-style-type: none; margin-left: 0px">
				<li><a href="/de/about.html">Über uns</a></li>
				<li><a href="/de/acd.html">Activity-Centered Design</a></li>
				<li><a href="/de/atdd.html">Acceptance Test Driven Development</a></li>
			</ul>
		</div>
		<div class="span4">
			Caimito Technologies<br/>
			Brandenburger Str. 11</br>
			25980 Sylt<br/>
			Deutschland
		</div>
		<div class="span4">
			Telefon +49 151 61623277<br/>
			email info@caimito.net<br/>
			<a href="imprint.html">Impressum</a>
		</div>
</footer>
