<p>&nbsp;</p>
<footer class="footer">
	<div class="row">
		<div class="span4">
			<ul style="list-style-type: none; margin-left: 0px">
				<li><a href="/de/about.html">Wer</a></li>
				<li><a href="/de/acd.html">Activity-Centered Design</a></li>
				<li><a href="/de/atdd.html">Acceptance Test Driven Development</a></li>
			</ul>
		</div>
		<div class="span4">
			Caimito Agile Life S.L.<br />
			Apartado de Correos #30</br>
			14440 Villanueva de Cordoba<br />
			Spain
		</div>
		<div class="span4">
			Telefon +49 151 61623277<br />
			email info@caimito.net<br />
			<a rel="me" href="https://techhub.social/@snscaimito">Mastodon</a></br>
			<a href="imprint.html">Impressum</a>
		</div>
</footer>