<p>&nbsp;</p>
<footer class="footer">
	<div class="row">
		<div class="span4">
			<ul style="list-style-type: none; margin-left: 0px">
				<li><a href="/de/about.html">Wer</a></li>
				<li><a href="/de/acd.html">Activity-Centered Design</a></li>
				<li><a href="/de/atdd.html">Acceptance Test Driven Development</a></li>
			</ul>
		</div>
		<div class="span4">
			Caimito Agile Life S.L.<br />
			A3200 km 9.5</br>
			14448 Conquista, Andalucia<br />
			Spain
		</div>
		<div class="span4">
			Telefon +49 151 61623277<br />
			email <a href="mailto:info@caimito.net?subject=Von der Webseite">info@caimito.net</a><br />
			<a href="imprint.html">Impressum</a>
		</div>
</footer>