<footer>
	<div>
		Caimito Agile Life S.L.<br />
		A3200 km 9.5</br>
		14448 Conquista, Andalucia<br />
		Spain
	</div>
	<div>
		email <a href="mailto:info@caimito.net?subject=From Website">info@caimito.net</a><br />
		<br />
		<a href="imprint.html">Imprint</a> | <a href="gdpr.html">Data Protection Policy</a>
	</div>
	<div class="language-selector">
		<div style="font-size: 0.9em; margin-bottom: 0.5em; color: #666;">Change language:</div>
		<div>
			<img src="/img/German-Language-Flag.svg" height="24px" alt="Deutsch" onClick="onSwitchLanguage('de')" style="cursor: pointer" />
			<img src="/img/English_language.svg" height="24px" alt="English" onClick="onSwitchLanguage('en')" style="cursor: pointer" />
			<img src="/img/Spanish-Language-Flag.svg" height="24px" alt="Español" onClick="onSwitchLanguage('es')" style="cursor: pointer" />
		</div>
	</div>
</footer>