<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if page_lang == 'en' %}
<link rel="alternate" type="application/atom+xml" title="Caimito Technologies - English Articles" href="/en/posts.xml" />
{% elsif page_lang == 'de' %}
<link rel="alternate" type="application/atom+xml" title="Caimito Technologies - Deutsche Artikel" href="/de/posts.xml" />
{% elsif page_lang == 'es' %}
<link rel="alternate" type="application/atom+xml" title="Caimito Technologies - Artículos en Español" href="/es/posts.xml" />
{% endif %}
<!-- Preconnect to Google Fonts for better performance -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- Load Roboto font for paragraphs -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap" rel="stylesheet">
<!-- TODO: when mark is being used <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> -->

<link href="/css/main.css" rel="stylesheet">
<script language="javascript" src="/js/caimito.js" type="text/javascript"></script>