<nav>
  <ul>
    <li>
      <a id="homeLink" class="brand" href="/de">
        <img src="/img/CaimitoAgileLifeSL.png" />
      </a>
    </li>
    <li>
      <a id="devAdvocateLink" href="/de/developer-advocate.html">Developer Advocate</a>
    </li>
    <li>
      <a id="cloudExitLink" href="/de/cloud-exit.html">Cloud Exit</a>
    </li>
    <li>
      <a id="blogLink" href="/de/blog.html">Notizblog</a>
    </li>
    <li>
      <a id="aboutLink" href="/de/about.html">Über uns</a>
    </li>
    <!-- <li>
      <a id="agileLink" href="/de/consultancy.html">Technical Consultancy</a>
    </li> -->
    <!-- <li>
      <a href="/de/recruiting.html">Technical Recruiting</a>
    </li> -->
    <!-- <li>
      <a href="/de/development.html">Custom Software</a>
    </li> -->
    <li class="right">
      <img src="/img/German-Language-Flag.svg" height="20px" onClick="onSwitchLanguage('de')" style="cursor: pointer" />
      <img src="/img/English_language.svg" height="20px" onClick="onSwitchLanguage('en')" style="cursor: pointer" />
    </li>
  </ul>
</nav>