<nav>
  <ul>
    <li>
      <a id="homeLink" class="brand" href="/">
        <img src="/img/CaimitoAgileLifeSL.png" />
      </a>
    </li>
    <li>
      <a id="agileLink" href="/en/consultancy.html">Technical Consultancy</a>
    </li>
    <li>
      <a href="/en/recruiting.html">Technical Recruiting</a>
    </li>
    <!-- TODO: enable menu item
    <li>
      <a href="/en/product-management.html">Product Management</a>
    </li> -->
    <li>
      <a href="/en/development.html">Custom Software</a>
    </li>
    <li class="right">
      <img src="/img/German-Language-Flag.svg" height="20px" onClick="onSwitchLanguage('de')" style="cursor: pointer" />
      <img src="/img/English_language.svg" height="20px" onClick="onSwitchLanguage('en')" style="cursor: pointer" />
    </li>
  </ul>
</nav>