<nav>
  <ul>
    <li>
      <a id="homeLink" class="brand" href="/">
        <img src="/img/CaimitoAgileLifeSL.png" />
      </a>
    </li>
    <li>
      <a id="agileLink" href="/en/consultancy.html">Technical Consultancy</a>
    </li>
    <li>
      <a href="/en/recruiting.html">Technical Recruiting</a>
    </li>
    <!-- TODO: enable menu item
    <li>
      <a href="/en/product-management.html">Product Management</a>
    </li> -->
    <li>
      <a href="/en/development.html">Custom Software</a>
    </li>
  </ul>
</nav>