<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
		<a id="homeLink" class="brand" href="/">
			<img src="/img/CaimitoAgileLifeSL.png"/>
		</a>
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul id="nav-menu" class="nav">
          <li><a id="agileLink" href="/en/consultancy.html">Technical Consultancy</a></li>
          <li><a id="farm" href="http://granja.caimito.net">Regenerative Farm</a></li>
        </ul>
      </div><!--/.nav-collapse -->
	<div style="float: right; position: relative; top: 15px">
		<select id="languageSelector" onChange="onSwitchLanguage()" size="1" style="width: 7em">
			<option value="de">Deutsch</option>
			<option value="en" selected="selected">English</option>
		</select>
	</div>
    </div>
  </div>
</div>


