<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
		<a id="homeLink" class="brand" href="/de">
			<img src="/img/logo_caimito.png"/>
		</a>
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul id="nav-menu" class="nav">
          <li><a id="blogLink" href="/de/blog.html">Aktuell</a></li>
          <li><a id="agileLink" href="/de/agile.html">Agile</a></li>
          <li><a id="networkLink" href="/de/network.html">Netzwerk</a></li>
          <li><a id="knowledgeLink" href="/de/knowledge.html">Wissen</a></li>
        </ul>
      </div><!--/.nav-collapse -->
	<div style="float: right; position: relative; top: 15px">
		<select id="languageSelector" onChange="onSwitchLanguage()" size="1" style="width: 7em">
			<option value="de" selected="selected">Deutsch</option>
			<option value="en">English</option>
		</select>
	</div>
    </div>
  </div>
</div>


