<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
		<a class="brand" href="/">
			<img src="/img/logo_caimito.png"/>
		</a>
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/atdd.html">ATDD</a></li>
          <li><a href="/acd.html">Design</a></li>
          <li><a id="consultingLink" href="/consulting.html">Learning</a></li>
          <li><a id="knowledgeLink" href="/knowledge.html">Knowledge</a></li>
          <li><a href="http://blog.stephan-schwab.com" target="_blank">Blog</a></li>
          <li><a id="aboutLink" href="/about.html">About</a></li>
        </ul>
      </div><!--/.nav-collapse -->
	<div style="float: right; position: relative; top: 15px">
		<select id="languageSelector" onChange="onSwitchLanguage()" size="1" style="width: 7em">
			<option value="de">Deutsch</option>
			<option value="en">English</option>
		</select>
	</div>
    </div>
  </div>
</div>
