<h2 class="caimito-main-color">Bei Ihnen vor Ort</h2>
<p>Jedes Seminar oder Workshop kann direkt bei Ihnen vor Ort durchgeführt werden. Sie stellen einen geeigneten Raum und wir brin&shy;gen alles andere mit. So können mehrere Mitarbeiter ohne großen Zeitverlust teil&shy;neh&shy;men und Sie sparen auch die Reisekosten.</p>

<h2 class="caimito-main-color">Öffentlich</h2>
<p>Möchten Sie lieber an einem öffentlichen Se&shy;mi&shy;nar oder Workshop teilnehmen, schau&shy;en Sie bitte in die <a href="http://www.eventbrite.de/org/2555824406">Übersicht</a>, um eine Ver&shy;an&shy;stal&shy;tung in Ihrer Nähe zu finden.</p>