<h2 class="caimito-main-color">Leistungen</h2>
<p>In einer Kombination aus Workshops, Seminaren und individuellem Coaching bieten wir an:</p>

<h3 class="caimito-green-color">Organisatorische Fähigkeiten</h3>
<dl class="posts">
	<dt><a href="consulting.html">Lernendes Unternehmen</a></dt>
	<dd>Die Fähigkeit schnell zu lernen erlaubt Unter&shy;nehmen jeder Art sich auf <strong>schnelle Ver&shy;än&shy;derungen im Markt</strong> gut anzupassen und dadurch fortwährend die Erwartungen von Kunden und Mitarbeitern zu erfüllen. <strong>Be&shy;geis&shy;ter&shy;te Kunden beweisen den Erfolg!</strong></dd> 

	<dt><a href="consulting.html">Lean Startup</a></dt>
	<dd><strong>Beobachtung</strong>, <strong>Schluß&shy;fol&shy;ge&shy;rung</strong> und <strong>Anpassung</strong> sind Schlüsseltechnologien. Lernen Sie durch kontrollierte <strong>Experimente</strong>,  sorgsames Messen und Schlußfolgern Erkenntnisse für die weitere Unternehmensentwicklung zu gewinnen.</dd> 

	<dt><a href="consulting.html">Agile Vorgehensweisen</a></dt>
	<dd>Das Ziel agiler Vorgehensweisen war <strong>nie&shy;mals</strong> das Ziel mehr Software schneller zu entwickeln (<strong>Effizienzsteigerung</strong>). Statt&shy;des&shy;sen geht es darum <strong>zielgerichteter</strong> die <strong>Ar&shy;beit</strong> im Unternehmen zu <strong>organisieren</strong> - ganz egal, ob es dabei um Software&shy;ent&shy;wick&shy;lung oder <strong>andere Tätigkeiten</strong> geht.</dd> 
</dl>

<h3 class="caimito-green-color">Technische Fähigkeiten</h3>
<dl class="posts">
	<dt><a href="atdd.html">Defekte durch ATDD vermeiden</a></dt>
	<dd>Auftraggeber und Entwick&shy;lungsteam de&shy;fi&shy;nie&shy;ren gemeinsam in Form einer <strong>aus&shy;führ&shy;baren Spezifikation</strong> was die zu entwickelnde Soft&shy;ware tun soll.</dd> 

	<dt><a href="acd.html">Activity-Centered Design</a></dt>
	<dd>Produkte mit gutem Design sind aus einem <strong>tiefen</strong> und <strong>umfassenden Ver&shy;ständ&shy;nis</strong> der <strong>Tätigkeiten</strong> des Anwenders her&shy;vor&shy;ge&shy;gan&shy;gen. Das macht sie <strong>fit</strong> für einen an&shy;spruchs&shy;vol&shy;len Markt und <strong>besser</strong> als der Mitbewerb. In einigen Fällen kann dieser <strong>Unterschied</strong> zu <strong>gewöhnlichen</strong> Produkten einen ganzen In&shy;du&shy;strie&shy;zweig auf den Kopf stellen.</dd> 
</dl>
