<section>
  <h2>Technical Consultancy</h2>

  <h3>Senior Developer Advocate</h3>
  <p>Embedded into your team, working as an active member who makes meaningful contributions to your software product,
    the Senior Developer Advocate makes your development effort more effective. Consequently, efficiency increases.
  </p>

  <p><a href="/en/developer-advocate.html">Learn more ...</a></p>

  <h3>Technical Advisor</h3>
  <p>We have extensive experience in the field. In a similar way as medical doctors perform peer consultations we can
    do technical assessments before wide ranging decisions.</p>
</section>

<section>
  <h2>Technical Recruiting</h2>
  <p>Finding truly the right people for software development teams is very difficult. Software developers' experience
    cannot be evaluated in the same manner as other professions. Seniority is not indicated by using
    the same techniques, tools, frameworks, programming languages for many years. In fact the longer a developer does
    the same, the less experience the person actually is.</p>
</section>

<section>
  <h2>Product Management</h2>
  <p>With our help you get working software in front of actual users sooner. We manage to ship early and often. We
    help you to measure the impact of the new software solution - either as a software product available on the open
    market or just for use within your organization.</p>
</section>

<section>
  <h2>Custom Software Development</h2>
  <p>We can develop customer software for you or augment an existing development for a while to build top notch
    software that will be easy to maintain in the future. If you augment your team, your team's skill will be improved
    and the benefit will outlive our presence for a long time.</p>
</section>