<div class="row-fluid">
	<div class="span4">
		<a href="/de/contact-sns.html"><img src="/de/mehr-wissen.png"/></a>
	</div>
	<div class="span8">
		<p>Hat Sie das Thema interessiert und Sie möchten gern mehr wissen?</p>
		<p>Sprechen Sie mich doch einfach an. Zwangloser Gedankenaustausch ist immer hilfreich.</p>
		<p>Sie können mich per <a href="/de/contact-sns.html">eMail</a>, <a href="/de/contact-sns.html">Google Talk</a>, <a href="/de/contact-sns.html">Skype</a> und natürlich per <a href="/de/contact-sns.html">Telefon</a> erreichen.</p>
	</div>
</div>
