<!DOCTYPE html>
<html lang="en">

<head>
	{% include head.html %}
</head>

<body>
	{% include menu-de.html %}
	<div class="container blog-container">
		<div class="two-columns">
			<div class="blog-entry">
				<h1>{% if page.featured_title %}{{ page.featured_title }}{% else %}{{ page.title }}{% endif %}</h1>
				{{ content }}
				{% include blog-contact-de.html %}
			</div>
			<div class="sidebar">
				{% include sidebar-blog-de.html %}
			</div>
		</div>
	</div>
	{% include footer-de.html %}
	</div>
</body>

</html>