<!DOCTYPE html>
<html lang="en">
  <head>
	{% include head.html %}
  </head>

  <body>
	{% include menu.html %}
	<div class="container content-container">
		<div class="row">
			<div class="span8">
				{{ content }}
			</div>
			<div class="span4">
				<h2 class="caimito-main-color">Training</h2>
				<p>Uplift technical skills in your organization. Talk to us about <strong>Acceptance Test-Driven Development</strong>, <strong>Test-Driven Development</strong>, <strong>Specification by Example</strong> and other effective techniques to <strong>prevent defects</strong> in your products from the start.</p>
				<h2 class="caimito-main-color">Coaching</h2>
				<p>Provide guidance to your associates to reach their full potential so that your organization benefits from smarter and more agile collaborators. We coach on agile practices, including Scrum and Kanban, using a humanistic whole team approach.</p>
				<h2 class="caimito-main-color">Learning Organization</h2>
				<p>Due to the rapidly changing market environment organizations constantly face new challenges. Learning organizations are able to reinvent themselves by improving and adapting. We can help you to re-learn learning as an organization so that not only you survive but also know how to delight your customers.</p>
				<h2 class="caimito-main-color">Leadership, Management</h2>
				<p>Management from the Industrial Age separated thinking from doing. In the Information Age knowledge work is the key ingredient for success. Learn how to replace industrial management by true leadership to build a sustainable organization based on knowledge.</p>
				<h2 class="caimito-main-color">Contact</h2>
				<p>Contact us at <a href="mailto:info@caimito.net">info@caimito.net</a> for a personal consultation.</p>
				<p>We speak German, English, and Spanish. Our services are available world-wide.</p>
			</div>
		</div>
		{% include footer-en.html %}
    </div> <!-- /container -->


  </body>
</html>
